<div class="container" mt-5>
        
    
        <form [formGroup]="loginForm" (ngSubmit)="addpost(loginForm.value)">
                <p>
                        <mat-form-field>
                          <input
                            type="text"
                            matInput
                            placeholder="Create By"
                            formControlName="User_Name"
                          />
                        </mat-form-field>
               <p>
                  <mat-form-field>
                    <input
                      type="text"
                      matInput
                      placeholder="Post Title"
                      formControlName="post_name"
                    />
                  </mat-form-field>

               
               </p>
               
               <p>
                    <mat-form-field>
                            <textarea 
                            type="text"
                            matInput
                             placeholder="Contenido"
                             formControlName="cont"
                             >
                            </textarea>
                          </mat-form-field>
               </p>
                <button type="submit" mat-raised-button color="primary">Create</button>
              </form>
      </div>
